.planets-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-link {
    text-decoration: none;
    color: unset;
}

.planets-buttons {
    display: flex;
    justify-content: center;
}
.planets-buttons a {
    margin: 20px 8px;
    text-decoration: none;
}