@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.card-link {
  text-decoration: none;
  color: unset;
}
.planets-buttons a {
  margin: 20px 8px;
  text-decoration: none;
}
.loader-container {
  text-align: center;
}

// Header
.header {
  display: flex;
  margin: 20px;
  .logo {
    width: auto;
    height: 110px;
  }
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    a {
      font-size: 40px;
      margin: 0 20px;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
  }
}

// Planets
.planets-preview {
  display: flex;
  justify-content: center;
  color: white;
  img {
    width: 666px;
    height: auto;
  }
  h2 {
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 22px;
    margin: 60px 0px;
  }
  .planets-preview-desc {
    ul {
      list-style: none;
      padding: 0;
      li {
        font-size: 18px;
        margin: 20px 0px;
      }
    }
  }
  .planets-preview-btn {
    display: flex;
    justify-content: flex-start;
    a {
      border-left: 2px solid yellow;
      padding: 20px;
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
  }
}
.planets-list-wrapper {
  display: flex;
  align-items: center;
  a {
    margin: 0 40px;
  }
  .planets-list {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;

    .planet-item {
      opacity: 0.7;
      display: flex;
      flex: 20%;
      cursor: pointer;
      transition: ease-in-out 0.5s;
      h2,
      p {
        color: white;
      }
      img {
        width: 100px;
        height: auto;
      }
    }
    .active {
      opacity: 1;
      transition: ease-in-out 0.5;
    }
  }
}

.btn-disabled {
  opacity: 0.5;
  cursor: default;
}
.btn-next {
  background-image: url(../assets/image/arrow-right.svg);
}
.btn-prev {
  background-image: url(../assets/image/arrow-left.svg);
}
.planet-btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: 100px;
}

// Famous Residents
.famous-residents {
  .famous-residents-heading {
    text-align: center;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 22px;
    margin: 60px 0px;
  }
}

.no-data {
  color: white;
}

.famous-residents-list {
  display: flex;
  flex-wrap: wrap;
}

.resident-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
  h2 {
    color: white;
  }
  .resident-card-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // border-top-left-radius: 0.25rem;
    // border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%; // 16:9 aspect ratio
    }
    @media (min-width: 40rem) {
      &::before {
        padding-top: 66.6%; // 3:2 aspect ratio
      }
    }
    &:hover {
      filter: contrast(100%);
    }
  }
}
