.planets-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-link {
    text-decoration: none;
    color: unset;
}

.planets-buttons {
    display: flex;
    justify-content: center;
}
.planets-buttons a {
    margin: 20px 8px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.logo {
    width: auto;
    height: 200px;
}
.planet-description-box {
    background-color: white;
    padding: 20px;
}

.welcome-page {
    display: flex;
    justify-content: center;
}